<div class="center">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(article.image.url), article %>
          <div class="caption">
            <h3><%= article.title %></h3>
          </div>
          <%if (user_signed_in?) && (current_user == article.user)%>
        <%= link_to 'Edit', edit_article_path(article), class:"btn btn-link" %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link" %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
